.git
.github
.cursor
.terraform
**/.terraform
*.tfstate
*.tfstate.*
terraform
coverage
log
tmp
spec
README.md
docker-compose.yml
docker-compose.sample.yml
docker-compose.production.yml
Dockerfile.dev
.env
.env.*
!.env.example
config/*.key
config/credentials/*.key
storage
vendor/bundle
node_modules
.DS_Store
